.container{
  height: 100vh;
  width: 100vw;
  border: 3px solid red;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.top{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.information{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}
.sentiment{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url(https://www.researchgate.net/publication/356714785/figure/fig5/AS:1098321829605379@1638871738356/Graphical-Bar-chart-for-the-count-of-Positive-Negative-Neutral-Tweets-a-Dataset-I.jpg); */
}
.callog{
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
}
